@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
h1,h2,h3{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
main{
    width:1160px;
    margin:20px auto;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
}
h2{
text-align: center;
font-size: 40px;
padding: 10px;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
background-color: rgba(124, 124, 124, 0.863);
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 3rem;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    padding: 1px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(124, 124, 124, 0.863);
  }
  .center{
      text-align: center;
  }
table,
td,
th {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
img {
    width: 200px;
}
header{
    padding: 1px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(124, 124, 124, 0.863);
}
body{
    background-image: url(../img/custome.png);
    background-repeat: no-repeat;
    background-size: 100%;
}